section.brand-modal
	.scroll
		.scroll-area
			.brand-modal_container(data-modal-index="1")
				.brand-logo
					.logo-container
						img(src="img/brands/anjasora.png")
				.brand-head
					.name Фабрика Аnjasora
					a.link(href="http://anjasora.it" target="_blank" rel="nofollow") http://anjasora.it
				.brand-content
					p Фабрика Anjasora является лидирующим итальянским производителем керамики. Плитка Anjasora отличается прочностью и износостойкостью, что позволяет использо&shy;вать ее в помещениях с повышенными нагрузками. Фабрика производит керами&shy;ческую плитку и керамогранит для ванных комнат, кухонь и жилых помещений.
				.download-container
					a.download-item(href="" target="_blank" rel="nofollow")
						.icon
						.name
							span.file-name Catalog winter 2016-2017
							span.file-value .pdf
					a.download-item(href="" target="_blank" rel="nofollow")
						.icon
						.name
							span.file-name pricelist 2016
							span.file-value .pdf
			.brand-modal_container(data-modal-index="2")
				.brand-logo
					.logo-container
						img(src="img/brands/ariostea.jpg")
				.brand-head
					.name Фабрика Аnjasora
					a.link(href="http://anjasora.it" target="_blank" rel="nofollow") http://anjasora.it
				.brand-content
					p Фабрика Anjasora является лидирующим итальянским производителем керамики. Плитка Anjasora отличается прочностью и износостойкостью, что позволяет использо&shy;вать ее в помещениях с повышенными нагрузками. Фабрика производит керами&shy;ческую плитку и керамогранит для ванных комнат, кухонь и жилых помещений.
				.download-container
					a.download-item(href="" target="_blank" rel="nofollow")
						.icon
						.name
							span.file-name Catalog winter 2016-2017
							span.file-value .pdf
					a.download-item(href="" target="_blank" rel="nofollow")
						.icon
						.name
							span.file-name pricelist 2016
							span.file-value .pdf
			.brand-modal_container(data-modal-index="3")
				.brand-logo
					.logo-container
						img(src="img/brands/ceracasa.jpg")
				.brand-head
					.name Фабрика Аnjasora
					a.link(href="http://anjasora.it" target="_blank" rel="nofollow") http://anjasora.it
				.brand-content
					p Фабрика Anjasora является лидирующим итальянским производителем керамики. Плитка Anjasora отличается прочностью и износостойкостью, что позволяет использо&shy;вать ее в помещениях с повышенными нагрузками. Фабрика производит керами&shy;ческую плитку и керамогранит для ванных комнат, кухонь и жилых помещений.
				.download-container
					a.download-item(href="" target="_blank" rel="nofollow")
						.icon
						.name
							span.file-name Catalog winter 2016-2017
							span.file-value .pdf
					a.download-item(href="" target="_blank" rel="nofollow")
						.icon
						.name
							span.file-name pricelist 2016
							span.file-value .pdf