footer.footer
	.footer-text
		a(class="developers" href="http://flxmd.by" target="_blank" rel="nofollow") Made in flex.media
		.shared
			.shared-btn
		.copyright
			.copyright-item ©2016
			.copyright-item Fashion gallery
			.copyright-item terms of use
	include _navButton