.modal__wrapper(data-modal-popup="request")
	.scroll
		.form-container
			.form-container_front
				.form-head Получить консультацию
				form(action="" class="modal-form js-validation")
					.field
						label(for="name")
							span Ваше имя
						input(type="text" data-error-msg="Пожалуйста, введите ваше имя")
					.field
						label(for="name")
							span Ваш телефон
						input(type="text")
					.field
						label(for="name")
							span Ваш e-mail
						input(type="text")
					.field
						button(class="btn" type="submit")
							span Отправить
			.form-container_back
				.form-head Спасибо!
				.text-container
					p Форма успешно отправлена! Через некоторое время мы свяжемся с Вами.