.modal__wrapper(data-modal-popup="order")
	.scroll
		.close
			div
				span
				span
		.modal-container
			form.form-container
				.field
					.field-head
						span.number #01
						span First-name
					.field-body
						input(type="text")
				.field
					.field-head
						span.number #02
						span Phone
					.field-body
						input(type="phone")
				.field
					.field-head 
						span.number #03
						span Mail
					.field-body
						input(type="email")
				.field
					button(class="btn btn-white" type="submit")
						span Send
