mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Jade Layout Template
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(content="IE=9" http-equiv="X-UA-Compatible")
    meta(name="format-detection" content="telephone=no")
    meta(name='theme-color', content='#212121')
    meta(name="apple-mobile-web-app-status-bar-style" content="#212121")
    link(rel="stylesheet" media="all" href="css/screen.css")
    script(src="js/app.js")
  body
    .screen-load
      .load-container
        .load-cover
        .load-active
          .load-active_cover
    //BEGIN out
    .out
      block content
    //END out
    .pan-loader#pan-loader
      span.container-rotate#rotate
        <svg width="20" height="20">
          <circle class="outer" cx="10" cy="10" r="8" stroke-dashoffset="50" fill="transparent" stroke="#ffffff" stroke-width="3" stroke-dasharray="50" stroke-dashoffset="0" />
        </svg>
  - var colorOne = "#524e4b"
  - var colorSecond = "#2a2a32"
  include includes/_ajax-cover
  include includes/_caps
script(type="text/javascript").
  var revealer = new Revealer($(".revealer"));
    revealer.init();
