extends _layout

block title
	title Collections
block content
	.bg-color(style="background-color: #524339")
	.touch#touch
		- var namePage = "collections"
		- var indexPage = false
		include includes/_burger
		.wrapper
			.scroll#out
				.content(class="content-"+ namePage data-page=namePage)
					include includes/_header
					.content-wrapper
						.content-head
							.head-container
								span Supernatural
						.content-body
							.text-container
								p Плитка коллекции Roma выполнена в средиземноморском стиле и изго&shy;товлена из морозоустойчивого керамогранита с матовой поверх&shy;ностью в терракотовых цветах (с переливами от серого до бежево&shy;го).
								.price от €600 м
									sup 2 
								a(class="btn" href="#" data-modal="request")
									span Оставить заявку
							.gallery-list
								mixin g-list(src)
									.gallery-list_item
										.image-cover
											img(src=src)
								+g-list("img/collection-inner.jpg")
								+g-list("img/collection-inner.jpg")
								+g-list("img/collection-inner.jpg")
								+g-list("img/collection-inner.jpg")
								+g-list("img/collection-inner.jpg")
								+g-list("img/collection-inner.jpg")
								+g-list("img/collection-inner.jpg")
								+g-list("img/collection-inner.jpg")
							.gallery-pagination
								a.gallery-pagination_item.ajax-trigger(href="/")
									.color-box(style="background-color: #2a2a32;")
									.pagination-text
										.text-position
											.nav-text предыдущий проект
											.nav-name GOLD & SILVER, Roma
								a.gallery-pagination_item.ajax-trigger(href="/")
									.color-box(style="background-color: #3b3b3b;")
									.pagination-text
										.text-position
											.nav-text следующий проект
											.nav-name MARBLE ARCH
					- var name = "projects"
					include includes/_footer
	- var currentClass = "Коллекции"
	include includes/_menu
	include includes/_popup
	include includes/_brand-modal
	script(type="text/javascript").
		var modal = new Form();
			modal.init();
		var valid = new Validation($(".js-validation"), {
			onSubmit: function(){
				$(".form-container_front").addClass("hide");
				$(".form-container_back").addClass("show");
			},
			onReset: function(form){
				$(form).removeClass("validation-success validation-error");
				$(form).trigger("reset");
				valid.resetForm();
				setTimeout(function(){
					$(".form-container_front").removeClass("hide");
					$(".form-container_back").removeClass("show");
				}, 300);				
			},
			errorMsg: "Пожалуйста, заполните поля, прежде чем продолжить"
		});