extends _layout

block title
	title Index
block content
	.bg-color(style="background-color: #2a2a32")
	include includes/_burger
	.touch#touch
		- var namePage = "main"
		- var indexPage = true
		.wrapper
			.scroll#out
				.content(class="content-"+ namePage data-page=namePage)
					include includes/_header
					.content-wrapper
						.content-head
							.head-container
								span european tile gallery
						.content-body
							.full-gallery.full-gallery_slider
								.full-gallery_container
									a.full-gallery_slide(href="")
										.slide-name
											span Шоурум
										.slide-image
											img(src="img/slider/slide-1.jpg" data-color="#2a2a32")
										.slide-text
											p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
											.cross-link
												span о шоуруме
									.full-gallery_slide.small-gallery
										.slide-name
											span Акции
										.small-gallery_container
											a.small-gallery_slide.ajax-trigger(href="")
												.slide-image
													img(src="img/slider/slide-2.jpg" data-color="#524339")
												.slide-text
													p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
													.cross-link
														span Перейти к акции
											a.small-gallery_slide.ajax-trigger(href="")
												.slide-image
													img(src="img/slider/slide-2.jpg" data-color="#5a2e42")
												.slide-text
													p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
													.cross-link
														span Перейти к акции
									.full-gallery_slide.small-gallery
										.slide-name
											span Новинки
										.small-gallery_container
											a.small-gallery_slide.ajax-trigger(href="/collection.html")
												.slide-image
													img(src="img/slider/slide-2.jpg" data-color="#3e6879")
												.slide-text
													p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
													.cross-link
														span Перейти к коллекции
											a.small-gallery_slide.ajax-trigger(href="/collection.html")
												.slide-image
													img(src="img/slider/slide-2.jpg" data-color="#2a3149")
												.slide-text
													p FSN Gallery — это гигантский шоурум площадью 1500 м2, креативное пространство и&nbsp;co-working.
													.cross-link
														span Перейти к коллекции
					- var name = "collection"
					include includes/_footer
					script(type="text/javascript").
						var gallery = $(".full-gallery");
						gallery = new FullGallery(gallery);
	
		include includes/_popup	
		include includes/_brand-modal
		script(type="text/javascript").
			var modal = new Form();
				modal.init();
			var valid = new Validation($(".js-validation"), {
				onSubmit: function(){
					$(".form-container_front").addClass("hide");
					$(".form-container_back").addClass("show");
				},
				onReset: function(form){
					$(form).removeClass("validation-success validation-error");
					$(form).trigger("reset");
					valid.resetForm();
					setTimeout(function(){
						$(".form-container_front").removeClass("hide");
						$(".form-container_back").removeClass("show");
					}, 300);				
				},
				errorMsg: "Пожалуйста, заполните поля, прежде чем продолжить"
			});
	- var currentClass = "Главная"
	include includes/_menu