extends _layout

block title
	title Showroom
block content
	.bg-color(style="background-color: #343a3e")
	include includes/_burger
	.touch#touch
		- var namePage = "main"
		- var indexPage = false
		.wrapper
			.scroll#out
				.content(class="content-"+ namePage data-page=namePage)
					include includes/_header
					.content-wrapper
						.content-head
							.head-container
								span Showroom
						.content-body
							.text-container
								.list
									.list-item
										.numbers 1200m
											sup 2
										p Самый большой шоурум в Минске
									.list-item
										.numbers 900
										p Коллекций плитки в одном месте
									.list-item
										.numbers 56
										p Сотрудников в штате компании
								a(href="#" class="maps-link js-modal-map")
									span Как к нам проехать
								.contacts-container
									.contacts-column
										.contacts-title Адрес
										.contacts-text
											p ул. Мележа 5, корп 2
											p 9:00–19:00 в будние дни 
												br/ 10:00–17:00 в выходные
											p
												a(href="#" class="goto") Как проехать
									.contacts-column
										.contacts-title Контакты
										.contacts-text
											p
												span +375 17 237 16 07
												span +375 17 237 16 08
												span +375 29 111 11 76
											p
												a(href="#" class="mailto") info@fsn.by
							.gallery-showroom
								.gallery-showroom_container
									.gallery-slider.js-gallery-slider
										.slider-item.video-tube
											.cover_video-wrapp(data-id="3TlJWoM69ww")
											.image-cover
												img(src="img/gallery/item-4.jpg")
										.slider-item
											.image-cover
												img(src="img/gallery/item-4.jpg")
										.slider-item.video-tube
											.cover_video-wrapp(data-id="3TlJWoM69ww")
											.image-cover
												img(src="img/gallery/item-4.jpg")
									.pagination-container
										.pagination-current
											span.current 01
										.pagination-spinner |
										.pagination-all 04

					- var name = "designers"
					include includes/_footer
		include includes/_video-popup
		include includes/_popup
		include includes/_brand-modal
		include includes/_map-popup
		script(type="text/javascript").
			var modal = new Form();
				modal.init();
			var valid = new Validation($(".js-validation"), {
				onSubmit: function(){
					$(".form-container_front").addClass("hide");
					$(".form-container_back").addClass("show");
				},
				onReset: function(form){
					$(form).removeClass("validation-success validation-error");
					$(form).trigger("reset");
					valid.resetForm();
					setTimeout(function(){
						$(".form-container_front").removeClass("hide");
						$(".form-container_back").removeClass("show");
					}, 300);				
				},
				errorMsg: "Пожалуйста, заполните поля, прежде чем продолжить"
			});
			var modal = new BrandModal($(".modal"));
			var showroom = new HorizontalGallery($(".js-gallery-slider"));
			var videoModal = new ModalVideo($(".cover_video-wrapp"));
			$(maps);
			var map = new mapModal();
			map.init();
	- var currentClass = "Шоурум"
	include includes/_menu