extends _layout

block title
	title Showroom
block content
	.bg-color(style="background-color: #343a3e")
	include includes/_burger
	.touch#touch
		- var namePage = "main"
		- var indexPage = false
		.wrapper
			.scroll#out
				.content(class="content-"+ namePage data-page=namePage)
					include includes/_header
					.content-wrapper
						.content-head
							.head-container
								span Showroom
						.content-body
							.text-container
								.list
									.list-item
										.numbers 1200m
											sup 2
										p Самый большой шоурум в Минске
									.list-item
										.numbers 900
										p Коллекций плитки в одном месте
									.list-item
										.numbers 56
										p Сотрудников в штате компании
							.gallery-showroom
								.gallery-showroom_container
									.gallery-slider.js-gallery-slider
										.slider-item.video-tube
											.cover_video-wrapp(data-id="3TlJWoM69ww")
											.image-cover
												img(src="img/gallery/item-4.jpg")
										.slider-item
											.image-cover
												img(src="img/gallery/item-4.jpg")
										.slider-item.video-tube
											.cover_video-wrapp(data-id="3TlJWoM69ww")
											.image-cover
												img(src="img/gallery/item-4.jpg")
									.pagination-container
										.pagination-current
											span.current 01
										.pagination-spinner |
										.pagination-all 04

					- var name = "designers"
					include includes/_footer
		include includes/_video-popup			
		include includes/_popup
		include includes/_brand-modal
		script(type="text/javascript").
			//- var burger = new mobileMenu();
			//- 	burger.init();
			var modal = new Form();
				modal.init();
			var valid = new Validation($(".js-validation"), {
				onSubmit: function(){
					$(".form-container_front").addClass("hide");
					$(".form-container_back").addClass("show");
				},
				onReset: function(form){
					$(form).removeClass("validation-success validation-error");
					$(form).trigger("reset");
					valid.resetForm();
					setTimeout(function(){
						$(".form-container_front").removeClass("hide");
						$(".form-container_back").removeClass("show");
					}, 300);				
				},
				errorMsg: "Пожалуйста, заполните поля, прежде чем продолжить"
			});
			var modal = new BrandModal($(".modal"));
			var showroom = new HorizontalGallery($(".js-gallery-slider"));
			var videoModal = new ModalVideo($(".cover_video-wrapp"));
	- var currentClass = "Шоурум"
	include includes/_menu